/* Global background settings */
html, body {
  background-color: #FEFAF6;
}

/* Container styling */
.home-container {
  background-color: #FEFAF6;
  padding-left: 260px;
}

/* Headings */
.home-container h2{
  padding: 20px;
  font-family: Tahoma, sans-serif;
  color: #102C57;
  margin-top: 0px;
}

/* Status summary */
.status-summary {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}

.status-summary p {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  padding: 20px 30px;
  border-radius: 20px;
  text-align: center;
  font-family: Tahoma, sans-serif;
  color: #102C57;
}

/* Projects summary grid */
.projects-summary {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  color: #102C57;
}

/* Project cards */
.project-summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  max-width: 90%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  font-family: Tahoma, sans-serif;
  margin: auto;
}

.project-summary:hover {
  transform: scale(1.02);
}

/* Project link styles */
.project-link {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-decoration: none;
  color: inherit;
}

/* Details section */
.project-details {
  flex: 1;
  padding: 5px 10px;
  font-weight: bold;
  text-transform: capitalize;
}

/* Status section */
.project-status {
  width: 80px;
  padding: 10px 15px;
  text-align: center;
  font-weight: bold;
  border-radius: 4px;
  color: white;
  text-transform: capitalize;
}

/* Done status styling */
.project-summary.done .project-status {
  background-color: #28a745;
}

.project-summary.done .project-details {
  border-left: 4px solid #28a745;
}

/* Ongoing status styling */
.project-summary.ongoing .project-status {
  background-color: #f1c951;
}

.project-summary.ongoing .project-details {
  border-left: 4px solid #f1c951;
}

/* Upcoming status styling */
.project-summary.upcoming .project-status {
  background-color: #007bff;
}

.project-summary.upcoming .project-details {
  border-left: 4px solid #007bff;
}

/* Done, ongoing, upcoming styling */
.statuscode-done {
  border: 3px solid #28a745;
  background-color: #60e37f;
}

.statuscode-ongoing {
  border: 3px solid #ffbf00;
  background-color: #f1c951;
}

.statuscode-upcoming {
  border: 3px solid #007bff;
  background-color: #398fea;
}

/* Notification styles */
.bell-icon-container {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.bell-icon {
  font-size: 24px;
  color: #333;
}

.notification-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 12px;
}
