
.navbar {
    font-family: Tahoma, sans-serif;
}


/* For smaller screens */
@media (max-width: 768px) {
    .burger-icon-container {
        display: flex;
        align-items: center;
        padding: 10px;
        color: white;
        font-size: 1.5rem;
    }

    .burger-icon {
        margin-right: 15px; /* Add space between burger icon and name */
        font-size: 2rem;
        cursor: pointer;
        color: #102C57;
    }
    .burger-icon.active {
        color: white; /* Color when active (navbar is open) */
        padding-bottom: 20px;
    }

    /* Display the web app name beside the burger icon on small screens */
    .navbar-brand-small {
        display: inline-block;
        color: white;
        font-size: 1.25rem;
        font-weight: bold;
        padding-left: 30px;
        font-family: Tahoma, sans-serif;
    }

    .navbar {
        left: -250px; /* Hidden by default on smaller screens */
        font-family: Tahoma, sans-serif;
    }

    .navbar.active {
        left: 0; /* Slide in when burger menu is clicked */
        font-family: Tahoma, sans-serif;
    }

    /* Hide full brand name inside the navbar */
    .navbar-brand {
        display: none;
    }

    /* Adjust spacing for the navbar links */
    .navbar-links li {
        margin-top: 20px; /* Add space between each link */
    }
}

/* For larger screens */
@media (min-width: 768px) {
    .burger-icon-container {
        display: none; /* Hide burger and name on larger screens */
    }

    .navbar {
        left: 0; /* Visible by default on larger screens */
    }

    .navbar-brand {
        display: block; /* Show app name inside navbar on larger screens */
    }

    .overlay {
        display: none; /* No overlay required on larger screens */
    }

    .home-container {
        padding-left: 250px; /* Space for the visible navbar */
    }
}
