.delete-project {
    background-color: #FEFAF6;
    font-family: "Arial", sans-serif;
    margin-bottom: 20px;
    /* padding: 20px; */
    padding-left: 270px;
    padding-right: 20px;
}

.delete-project button {
    margin-top: 20px;
    padding: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
}

.delete-project button:hover {
    background-color: #d32f2f;
}
