.project-list {
    background-color: #FEFAF6;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 20px;
    /* padding: 20px; */
    padding-left: 260px;
}

.project-list h2 {
  padding: 20px;
  font-family: Tahoma, sans-serif;
  color: #102C57;
  margin-top: 0px;
}

.project-list .leaflet-container {
    height: 545px;
    width: 100%;
    margin-top: 0px;
}
.create-project-btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
}

.create-project-btn:hover {
    background-color: #45a049;
}

.popup-content {
    padding: 5px;
    border-radius: 4px;
    color: white;
  }
  
  .popup-content.status-done {
    background-color: #28a745; /* Green for done */
  }
  
  .popup-content.status-ongoing {
    background-color: #ffbf00; /* Yellow for ongoing */
  }
  
  .popup-content.status-upcoming {
    background-color: #007bff; /* Blue for upcoming */
  }

  .statuscode-done {
    border: 3px solid #28a745; /* Thicker green border for done */
    background-color: #60e37f; /* Light green background */
  }
  
  .statuscode-ongoing {
    border: 3px solid #ffbf00; /* Thicker yellow border for ongoing */
    background-color: #f1c951; /* Light yellow background */
  }
  
  .statuscode-upcoming {
    border: 3px solid #007bff; /* Thicker blue border for upcoming */
    background-color: #398fea; /* Light blue background */
  }

/* Add border to map container */
.map-container {
  border: 2px solid #ccc; /* Border color */
  border-radius: 8px; /* Rounded corners */
  overflow: hidden; /* Ensures that the map fits within the rounded corners */
  margin-top: 40px;
}

