.calendar-container {
    background-color: #DAD4B5;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 20px;
    padding: 20px;
}

.calendar-container h2{
    margin-bottom: 20px;
    padding: 20px;
}

.rbc-event {
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}


.statuscode-done {
    border: 3px solid #28a745; /* Thicker green border for done */
    background-color: #60e37f; /* Light green background */
  }
  
.statuscode-ongoing {
    border: 3px solid #ffbf00; /* Thicker yellow border for ongoing */
    background-color: #f1c951; /* Light yellow background */
  }
  
.statuscode-upcoming {
    border: 3px solid #007bff; /* Thicker blue border for upcoming */
    background-color: #398fea; /* Light blue background */
  }