.create-project {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #DAD4B5;
    font-family: 'Courier New', Courier, monospace;
}

.root{
    background-color: #DAD4B5;
}

.create-project h2{
    margin-bottom: 20px;
    padding: 20px;
}

.create-project form {
    display: flex;
    flex-direction: column;
}

.create-project label {
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #ccc; /* Border color for labels */
    border-radius: 8px; /* Rounded corners for labels */
}

.create-project .map-container {
    margin-top: 20px;
    height: 400px;
}

.create-project button {
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.create-project button:hover {
    background-color: #45a049;
}
