.delete-project {
    margin: 20px;
    background-color: #DAD4B5;
    font-family: 'Courier New', Courier, monospace;
}

.delete-project button {
    margin-top: 20px;
    padding: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
}

.delete-project button:hover {
    background-color: #d32f2f;
}
