.update-project {
    margin: 20px;
    background-color: #DAD4B5;
    font-family: 'Courier New', Courier, monospace;
}

.update-project form {
    display: flex;
    flex-direction: column;
}

.update-project label {
    margin-bottom: 10px;
}

.update-project button {
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.update-project button:hover {
    background-color: #45a049;
}
